---
// Footer component
---

<footer class='bg-transparent text-gray-600 py-8'>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='text-center'>
      <p class='text-gray-500 text-sm'>
        © {new Date().getFullYear()} KLIA. Desarrollado por
        <a
          href='https://laude.tech/'
          target='_blank'
          class='text-gray-900 font-medium'>Laude</a
        >. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
